.tweetline-block-tweetline-block {

	ul {
		margin-left: 0;
		list-style: none;
	}

	li {
		padding: 10px;

		&:hover {
			background: rgba(160, 200, 220, 0.12);

			.author .twttr-logo {
				filter: none;
			}
		}
	}

	.author {
		display: flex;
		align-items: center;
		margin: 10px 0;
		position: relative;

		a {
			margin: 0 10px;
			font-weight: 700;
			color: inherit;
		}

		.author-img {
			height: 36px;
			border-radius: 50%;
		}

		.twttr-logo {
			height: 0.9em;
			margin: 0 0.25em;
			margin-top: 0.2em;
			position: absolute;
			top: 0;
			right: 0;
			filter: grayscale(1) brightness(1.85);
		}
	}

	.tweet {
		margin: 10px 0;
	}

	.links {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin: 10px 0;
		font-size: 0.8em;
		font-size: 85%;
		margin-top: 0.5em;
		line-height: 1.5;

		a,
		a:visited {
			color: #595959;
		}

		a:hover {
			color: #1e73be;
		}
	}

}
