.tweetline-block-tweetline-block {

}

.tweetline-block-tweetline-block ul {
    margin-left: 0;
    list-style: none;
}

.tweetline-block-tweetline-block li {
    margin: 20px 0;
}

.tweetline-block-tweetline-block .author {
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}

.tweetline-block-tweetline-block .author  a {
    margin: 0 10px;
    font-weight: 700;
    color: inherit;
}

.tweetline-block-tweetline-block .author img {
    height: 36px;
}

.tweetline-block-tweetline-block .author .twttr-logo {
    height: .9em;
    margin: 0 .25em;
    margin-top: 0.2em;
    position: absolute;
    top: 0;
    right: 0;
    filter: grayscale(1) brightness(1.8);
}

.tweetline-block-tweetline-block li:hover .author .twttr-logo {
    filter: none;
}

.tweetline-block-tweetline-block .tweet {
    margin: 10px 0;
}

.tweetline-block-tweetline-block .links {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px 0;
    font-size: .8em;
    font-size: 85%;
    margin-top: .5em;
    line-height: 1.5;
}

.tweetline-block-tweetline-block .links a, .tweetline-block-tweetline-block .links a:visited {
    color: #595959;
}

.tweetline-block-tweetline-block .links a:hover {
    color: #1e73be;
}
