.tweetline-block-tweetline-block {

}

.tweetline-block-tweetline-block .twttr-logo {
    height: .9em;
    margin: 0 .25em;
    margin-bottom: -.1em;
}

.tweetline-block-tweetline-block ul {
    margin-left: 0;
    list-style: none;
}

.tweetline-block-tweetline-block li {
    margin: 10px;
}

.tweetline-block-tweetline-block .author {
    display: flex;
    align-items: center;
    margin: 10px;
}

.tweetline-block-tweetline-block .author > a {
    margin: 0 10px;
}

.tweetline-block-tweetline-block .tweet {
    margin: 10px;
}

.tweetline-block-tweetline-block .links {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 10px;
}
